
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.BODYINDEX{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

.links{
    background-color: #033E8C;
    background-position: center;
    flex-direction: row;
    background-attachment: fixed;
}

.textos-links{
    height: 30px;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    justify-content:space-between;
    padding-left: 500px;
    padding-right: 500px;
  
}

.hero{
    background-image: linear-gradient(#79b2fd 5%, #022859 80%);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.textos-links a{
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    justify-content:center;
}

.textos-hero h1{
    font-size: 95px;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

.textos-hero p{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
    background: #519bfb;
    border-radius: 8px;
    border-radius: #fff;
    flex-direction: row;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor{
    padding: 70px 0;
    font-size: medium;
    text-align: center;
}

.contenedor h2{
    font-size: 43px;
    text-align: center;
}

.titulo{
    font-weight: 300;
    font-size: 60px;
    color: rgb(14, 38, 38) ;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #0448a1 0%, #7c9ac2 99%, #519bfb 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff
}

.info{
    background: #b2d3fe;
    color: #fff;
    border-width: 2px;
    border-color: #022859;
}

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #022859;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

.galeria{
    background: #b2d3fe
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 35%;
    object-fit: cover;
    margin-bottom: 30px;
    display:block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

footer{
    background: #5ba1fb;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border:0;
    border: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width:120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor:pointer;
    color: tomato;
    background-color: #fff;

}

/* Get To Know Us */

.BODYGTKU{
    background-color: #b2d3fe; 
}

.GetToKnowUs {
    background-color: #b2d3fe;
}

.titulo-GetToKnowUs {
    text-align: center;
    font-size: 55px;
    padding-bottom:20px;
    padding-top: 10px;
    font-family: 'Manrope', sans-serif;
    
}

.contenido-GetToKnowUs{
    text-align: center;
    font-size: 25px;
    padding-bottom:13px;
    font-family: 'Archivo', sans-serif;

}

.rowgtku {
    margin: 10px -16px;
    background-color: #b2d3fe;
   
}

.rowgtku, .rowgtku > .columnGTKU{
    padding: 10px;
    background-color: #b2d3fe;
}

.columnGTKU{
    float: left;
    width: 33.33%;
    background-color: #b2d3fe;

}

.cont-column-gtku{
    background-color: #79b2fd;
    box-shadow: 4px 9px 9px #022859 ;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Archivo', sans-serif;

}

.cont-column-gtku h4{
    color: #011633;
    margin: 0;
    font-size: 30px;
    text-align: center;

}

.cont-column-gtku p{
    color: #000813;
    margin-top: 0;
    font-size: 20px;
    text-align: center

}

.cont-column-gtku h4, .cont-column-gtku p{
    padding: 10px;

}




/* PLAY */
.titulo-Juego {
    text-align: center;
    font-size: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    
}

.contenido-Juego {
    text-align: center;
    font-size: 25px;
}

.BODYPLAY{
    background-color: #b2d3fe;
}

/* Asteroid Smash*/

.BODYASS{
    background-color: #b2d3fe;
}

.titulo-AsteroidSmash {
    text-align: center;
    font-size: 55px;
    padding-bottom: 10px;
    padding-top: 26px;
    font-family: 'Manrope', sans-serif;
    
}

.contenido-AsteroidSmash {
    text-align: center;
    font-size: 25px;
}

