
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.BODYINDEX{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

/*------------------------------------------------------*/

.links{
    background-color: #022859;
    background-position: center;
    flex-direction: row;
    background-attachment: fixed;
}

.textos-links{
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    justify-content:space-between;
    padding-top: 12px;
    padding-left: 500px;
    padding-right: 500px;
    font-family: 'Signika', sans-serif;
  
}

/*------------------------------------------------------*/

.hero{
    background-image: linear-gradient(#79b2fd 5%, #022859 80%);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.textos-links a{
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    justify-content:center;
}

.textos-hero h1{
    font-size: 70px;
    flex-direction: column;
    font-family: 'PT Sans Narrow', sans-serif;

}

.textos-hero p{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
    background: #519bfb;
    border-radius: 8px;
    border-radius: #fff;
    flex-direction: row;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

/*------------------------------------------------------*/

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    
}

/*------------------------------------------------------*/

.contenedor{
    padding: 70px 0;
    font-size: medium;
    text-align: center;
}

.contenedor h2{
    font-size: 43px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.titulo{
    font-weight: 300;
    font-size: 60px;
    color: rgb(14, 38, 38) ;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

/*------------------------------------------------------*/

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #0448a1 0%, #7c9ac2 99%, #519bfb 100%);
    padding: 10px 12px;
    border-radius: 7px;
    color: #fff
}

/*------------------------------------------------------*/

.info{
    background: #022859;
    color: #fff;
    border-width: 2px;
    border-color: #022859;
}

.info-pt2{
    background: #022859;
    color: #fff;
    border-width: 2px;
    border-color: #022859;
    border-width: 2px;
    height: 70px;
}

.contenedor p{
    font-size: 20px;
}



/*------------------------------------------------------*/

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #022859;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

.cards h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    padding-bottom: 15px;
}

/*------------------------------------------------------*/


/*------------------------------------------------------*/

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

/*------------------------------------------------------*/

footer{
    background: #7c9ac2;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border:0;
    border: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width:120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor:pointer;
    color: tomato;
    background-color: #fff;

}
/*--------------------------------------------------------------*/

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background: #ffffff;
}

.wrapper{
    max-width: 1200px ;
}

.wrapper .carousel{
    font-size: 0px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden ;
}

.carousel img{
    height: 250px;
    width: calc(100% / 3) ;
    object-fit: cover;
    margin-left: 14px;
}

.carousel img:first-child{
    margin-left: 0px;
}

.wrapper h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;
}

/*--------------------------------------------------------------*/
/* Get To Know Us */
.BODYGTKU{
    overflow: hidden;
}

.containerGTKU{
    max-width: 950px;
    background-color: #7c9ac2;
    width: 100%;
    padding: 40px 0;
    overflow-x: hidden;
    padding-bottom: 270px;
}

.containerGTKU .main-card-gtku{
    width: 200%;
    background: #7c9ac2;
    display: flex;
}

.titulogtku h1{
    text-align: center;
    padding-top: 25px;
    background: #7c9ac2;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
}

.details-gtku p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding-top: 6px;
}

.details-gtku{
    display:block;
    justify-content:space-between;
    padding: 5px;
    
}

.SECTIONGTKU{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7c9ac2;
}

.cards-gtku{
    align-items: center;
    justify-content: center;
}

.main-card-gtku{
    display: flex;
    padding-right: 55px;
}

.main-card-gtku .cards-gtku{
    width: calc(100% / 2 - 10px);
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.main-card-gtku .cards-gtku .card-gtku{
    background: #ffffff;
    width: calc(100% / 3 - 10px);
    padding: 30px;
    border-radius: 24px;
}

.cards-gtku .card-gtku .contenido-gtku{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards-gtku .card-gtku .contenido-gtku .img-gtku{
    height:130px;
    width: 130px;
    margin-bottom: 24px;
    background:#033E8C;
    padding: 3px;
    border-radius: 50%;
}

.card-gtku .contenido-gtku .img-gtku img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.card-gtku .contenido-gtku .details-gtku .name-gtku{
    font-size: 20px;
    font-weight: 500;
}

.card-gtku .contenido-gtku .details-gtku .job-gtku{
    font-size: 20px;
    color:#5ba1fb;
}

.card-gtku .contenido-gtku .media-icons-gtku{
    display: flex;
    margin-top: 10px;
}

.card-gtku .contenido-gtku .media-icons-gtku a{
    height: 35px;
    width: 35px;
    color: #ffffff;
    background: #5ba1fb;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.contenido-gtku .media-icons-gtku a:hover{
    border-color: #5ba1fb;
    color:#5ba1fb;
    background: #ffffff;
}

/*--------------------------------------------------------------*/
/* PLAY */
.BODYPLAY{
    background-color: #b2d3fe;
}
.titulo-Juego {
    text-align: center;
    font-size: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contenido-Juego {
    text-align: center;
    font-size: 25px;
}
/*--------------------------------------------------------------*/


/*--------------------------------------------------------------*/
/* Asteroid Smash*/
.BODYASS{
   overflow-x: hidden;
}

.section-ass{
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    padding-top: 10px;
}

.banner1, .banner2, .banner3, .banner4{
    height: 90%;
    width: 90%;
    position: absolute;
    left: 180px;
    top: 60px;
    padding-top: 35px;
    padding-bottom: 25px;
}

.img-banner{
    width: 672px;
    height: 1200px;
    position:relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding-bottom: 25px;
}

.text-boxass{
    width: 500px;
    position: absolute;
    top: 200px;
    left: 30px;
    color: #fff;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}

.text-boxass h1{
    margin-bottom: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
}

.text-boxass p{
    font-size: 20px;
    line-height: 18px;
    margin-top: 80px;
    font-family: 'Outfit', sans-serif;
    
}

.text-boxass span{
    background: #7c9ac2;
    height: 3px;
    width: 130px;
    position: absolute;
    left:0;
}

.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.text-boxass1{
    animation-delay: 0s;
}
.text-boxass2{
    animation-delay: 3s;
}
.text-boxass3{
    animation-delay: 6s;
}
.text-boxass4{
    animation-delay: 9s;
}

.footerdelass{
    padding-top: 1250px;
}
/*--------------------------------------------------------------*/

