*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    background-image: linear-gradient(120deg, rgba(191, 153, 225, 0.673) 0%, rgba(142, 197, 252, 0.853) 100%), url(../fondo1si.png);

}